*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orange;
}
.header-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orange;
    justify-content: space-between;
}
.header-link {
 text-decoration: none;   
 font-style: normal;
 font-weight: 700;
 font-size: 30px;
 font-family: sans-serif;
}
.header-btn {
    margin-right: auto;
    margin-left: auto;
}